html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

header {
  border: solid white;
  background-image: url("../img/code.jpg");
  color: rgb(255, 255, 255);
  margin: 15px 15px 0;
  padding: 19px 15px 20px; 
}

main {
  color: black;
}

.card {
  background: #38f08b;
  margin: 15px 15px 0;
  padding: 20px 15px 20px; 
}

footer {
  background: #000000;
  text-align: center;
  color: #fcf5f5;
  border: 2px solid #22e684;
  margin: 15px 15px 0;
  padding: 19px 15px 20px; 
}

div {
  padding: 5px 20px; 
}

article {
  background: #FFFFFF;
  margin: 15px 15px 0;
  padding: 19px 15px 20px; 
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
         
}

figure {
  margin: 0px;;
}



p {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}


