/*
font-family: 'Montserrat', sans-serif; 100it/800
font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

header {
  border: solid 2px white;
  background-image: url("../img/code.jpg");
  color: rgb(255, 255, 255);
  margin: 20px 20px 0;
  padding:  28px 20px 54px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800px;
  font-size: 16px;
}

header p {
  font-size: 16px;
  color: #dddbda;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
}

main {
  color: black;
}

.card {
  background: #00fca6;
  margin: 20px 20px 0;
  padding: 18px 30px 20px;
  color: #0f573d;
  font-family:'Montserrat', sans-serif;
  line-height: 1.4em;
}

footer {
  background: #000000;
  text-align: center;
  color: #fcf5f5;
  border: 2px solid #00fca6;
  margin: 20px 20px 20px 20px;
  padding: 18px 95px; 
  font-size: 8px;
}

div {
  padding: 5px 20px; 
}

article {
  background: #FFFFFF;
  margin: 20px 20px 0;
  padding: 18px 30px 20px;
}

img {
  max-width: 100%;
  height: auto;       
}

figure {
  margin: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

figcaption {
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px 10px 15px 10px;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 800px;
}

em {
  color: #00fca6;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.button-style {
  color: white;
  background-color: #444444;
  text-decoration: none;
  padding: 6px 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800px;
  font-size: 12px;

}

.post-info {
  color: gray;
  font-size: 12px;
}

.post-autor {
  color: #00fca6;
  font-size: 12px;
}

.post-date {
  color: black;
  font-size: 12px;
}

